<div class="row">
  <div class="col-xs-12">
     <div class="row">
       <div class="col-xs-offset-10 col-xs-2 pull-right">
	 <%= link_to user_cargo_works_path do %>
	    <span class="glyphicon glyphicon-arrow-left btn-lg"></span>
	 <% end %>
       </div>
     </div>

     <h1><%= @medico_cargo.cargo.cups %> </h1>

     <%= render "form" %>
  </div>
</div>
